$color-black-100: #202124;
$color-black-80: #1f1f1f;
$color-black-60: #5e5e5e;
$color-black-40: #818487;
$color-black-30: #adadad;
$color-black-20: #c9c9c9;
$color-black-10: #f8f9fa;

$text-xl: 3rem;
$text-lg: 1.37rem;
$text-md: 1rem;
$text-sm: 0.85rem;
$text-xs: 0.75rem;
